{% extends 'base.html' %}    

{% block title %}Todo Item{% endblock %}

{% block content %}
    <div class="text-center my-3">
        <h3>{{ task_name }}</h3>
        <h5>Description</h5>
        <p>{{ description }}</p>
        <h5>status</h5>
        <p>{{ status }}</p>

        <button class="btn btn-primary mx-1 text-decoration-none">
            <a href="{% url 'todolist:update_task' id %}" class="text-light text-decoration-none">
                Edit Task
            </a>
        </button>

        <button class="btn btn-primary mx-1 text-decoration-none">
            <a href="{% url 'todolist:delete_task' id %}" class="text-light text-decoration-none">
                Delete Task
            </a>
        </button>

        <button class="btn btn-primary mx-1 text-decoration-none">
            <a href="{% url 'todolist:index' %}" class="text-light text-decoration-none">Back to index page</a>
            
        </button>
    </div>

{% endblock %}